*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.7;

  @media only screen and (max-width: $bp-medium) {
    width: 96vw;
    margin: 0 auto;
  }
  // @media only screen and (max-width: $bp-smallest) {
  //   width: 100vw;
  //   margin: 0 auto;
  // }
}

.bg {
  background: url('../img/Group\ 13.png');
  background-size: cover;
  background-position: center;
  background-color: $color-primary;
}
