.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer__info {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-blue;
  @media only screen and (max-width: $bp-small) {
    padding: 0.5rem;
  }
  &-h2 {
    padding: 1rem;
  }
}

.footer__rights {
  height: 5vh;
  background-color: #eff2f5;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.1rem;
}
